/* =============== CONTENTS =============== */
/* CUSTOM PROPERTIES */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* SITE-HEADER */
/* LOGO */
/* PROMO */
/* MODAL */
/* REGISTRATION-FORM */
/* MEDIA QUERIES */



/*------------------------------------*\
  #CUSTOM-PROPERTIES
\*------------------------------------*/
:root {
  --accent-color: #f00;
  --accent-font-family: "Besom", "Arial", sans-serif;
}



/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/
@font-face {
  font-family: "Besom";
  src: url("../fonts/Besom.woff2") format("woff2"),
    url("../fonts/Besom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-45Regular.woff2") format("woff2"),
    url("../fonts/CoreSansE-45Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-35LightIt.woff2") format("woff2"),
    url("../fonts/CoreSansE-35LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-65Bold.woff2") format("woff2"),
    url("../fonts/CoreSansE-65Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-55Medium.woff2") format("woff2"),
    url("../fonts/CoreSansE-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-95Black.woff2") format("woff2"),
    url("../fonts/CoreSansE-95Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-35Light.woff2") format("woff2"),
    url("../fonts/CoreSansE-35Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Core Sans E", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4c4c4c;
  background-image: url("../img/site-header-promo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

/* Retina background-image for body */
@media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    
  body {
    background-image: url("../img/site-header-promo-mobile@2x.jpg");
  }

}

img {
  max-width: 100%;
  height: auto;
}



/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1148px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
  margin-right: auto;
}

/* CTA-BUTTON */

.cta-button {
  display: inline-flex;
  justify-content: center;
  width: 307px;
  max-width: 100%;
  height: 73px;
  padding: 15px;
  border: none;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  background: none;
  background-image: url("../img/cta-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.cta-button:hover {
  background-image: url("../img/cta-bg-hover.png");
}

.cta-button:active .cta-button__text {
  transform: translateY(2px);
}


/* Retina background-image for site-header-promo wrapper */
@media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 

  .cta-button {
    background-image: url("../img/cta-bg@2x.png");
  }

  .cta-button:hover {
    background-image: url("../img/cta-bg-hover@2x.png");
  }
}



/*------------------------------------*\
  #SITE-HEADER
\*------------------------------------*/

.site-header {
  padding-top: 11px;
  color: #fff;
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__text {
  position: relative;
  order: 1;
  width: 100%;
  margin-top: 47px;
  line-height: 1.2;
  letter-spacing: 11px;
}

.site-header__text::before {
  position: absolute;
  top: 65%;
  left: 0;
  transform: translate(-20%, -50%);
  width: 351px;
  height: 14px;
  background-image: url("../img/special-course-blur.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

/* Retina background-image for site-header__text before */
@media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    
  .site-header__text::before {
    background-image: url("../img/special-course-blur@2x.png");
  }

}

.site-header__tel {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.site-header__tel:hover {
  color: var(--accent-color);
}

.site-header__tel:active {
  opacity: 0.4;
}

/*------------------------------------*\
  #LOGO
\*------------------------------------*/

.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.4;
}

.logo__img {
  display: block;
}



/*------------------------------------*\
  #PROMO
\*------------------------------------*/

.promo {
  overflow-x: hidden;
  padding-bottom: 142px;
}

.promo__heading {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #fff;
}

.promo__heading-accent {
  font-family: var(--accent-font-family);
  font-size: 102px;
  line-height: 102px;
  color: var(--accent-color);
  letter-spacing: 5px;
  text-align: center;
  text-shadow: -0.279px 3.99px 7.92px rgba(0, 0, 0, 0.34);
}

.promo__heading-simple {
  margin-top: -20px;
  text-align: center;
}

.promo__date-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

.promo__date {
  text-align: center;
}

.promo__date-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-right: 13px;
  list-style-type: none;
  background-image: url("../img/promo-date-list-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.promo__date-list-item {
  padding: 12px;
}

.promo__date-text {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  text-align: left;
}



/*------------------------------------*\
  #MODAL
\*------------------------------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal--open {
  display: block;
}

.modal__dialog {
  position: relative;
  z-index: 1;
  max-width: 512px;
  padding: 70px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/modal-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.modal__close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 21px;
  height: 23px;
  border: none;
  margin-right: -33px;
  margin-top: -24px;
  background: url("../img/close.png") center center / contain no-repeat;
}

.modal__close:hover {
  background-image: url("../img/close-hover.png");
}

@media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 

  .modal__dialog {
    background-image: url("../img/modal-bg@2x.png");
  }
    
  .modal__close {
    background-image: url("../img/close@2x.png");
  }

  .modal__close:hover {
    background-image: url("../img/close-hover.png");
  }

}

.modal__heading {
  margin-top: 0;
  margin-bottom: 26px;
  font-family: var(--accent-font-family);
  font-size: 53px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}

.modal__text {
  margin-bottom: 42px;
  color: #fff;
}



/*------------------------------------*\
  #REGISTRATION-FORM
\*------------------------------------*/

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form__group {
  width: 100%;
  margin-bottom: 22px;
}

.registration-form__group:last-of-type {
  margin-bottom: 54px;
}

.registration-form__input {
  display: block;
  width: 100%;
  padding: 16px 27px;
  border: none;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.registration-form__input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}



/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

@media only screen and (min-width: 600px) {

  /* SITE-HEADER */

  .site-header__text {
    order: 0;
    width: auto;
    margin: 0;
  }

  .site-header__text::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }

}


@media only screen and (min-width: 750px) {

  /* BODY */

  body {
    background-image: url("../img/site-header-promo-tablet.jpg");
    background-position: center top;
  }
  

  /* Retina background-image for site-header-promo wrapper */

  @media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
      
    body {
      background-image: url("../img/site-header-promo-tablet@2x.jpg");
    }

  }



  /* CONTAINER */

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }



  /* LOGO */

  .logo__img {
    width: 160px;
  }



  /* PROMO */

  .promo {
    padding-top: 47px;
    padding-bottom: 158px;
  }

  .promo__heading {
    margin-bottom: 28px;
    font-size: 42px;
  }

  .promo__heading-simple {
    margin-top: -23px;
  }

  .promo__date-wrapper {
    margin-bottom: 46px;
  }

}


@media only screen and (min-width: 1148px) {

  /* BODY */

  body {
    background-size: cover;
    background-image: url("../img/site-header-promo-desktop.jpg");
  }
  

  /* Retina background-image for site-header-promo wrapper */

  @media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
      
    body {
      background-image: url("../img/site-header-promo-desktop@2x.jpg");
    }
  
  }



  /* CONTAINER */

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }



  /* SITE-HEADER */
  
  .site-header {
    padding-top: 22px;
  }

  .site-header__tel {
    font-size: 24px;
  }



  /* LOGO */

  .logo__img {
    width: 247px;
    height: 89px;
  }



  /* PROMO */
  
  .promo {
    padding-top: 137px;
  }

  .promo__heading-accent {
    font-size: 172px;
    line-height: 155px;
    text-align: left;
  }

  .promo__heading-simple {
    margin-top: -33px;
    font-size: 77px;
    text-align: left;
  }

  .promo__date {
    text-align: left;
  }

  .promo__date-wrapper {
    justify-content: flex-start;
    margin-bottom: 64px;
  }

  .promo__date-list {
    margin-right: 42px;
  }

}