/* =============== CONTENTS =============== */
/* CUSTOM PROPERTIES */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* SITE-HEADER */
/* LOGO */
/* MEDIA QUERIES */



/*------------------------------------*\
  #CUSTOM-PROPERTIES
\*------------------------------------*/
:root {
  --accent-color: #f00;
}



/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/
@font-face {
  font-family: "Besom";
  src: url("../fonts/Besom.woff2") format("woff2"),
    url("../fonts/Besom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-45Regular.woff2") format("woff2"),
    url("../fonts/CoreSansE-45Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-35LightIt.woff2") format("woff2"),
    url("../fonts/CoreSansE-35LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-65Bold.woff2") format("woff2"),
    url("../fonts/CoreSansE-65Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-55Medium.woff2") format("woff2"),
    url("../fonts/CoreSansE-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-95Black.woff2") format("woff2"),
    url("../fonts/CoreSansE-95Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans E";
  src: url("../fonts/CoreSansE-35Light.woff2") format("woff2"),
    url("../fonts/CoreSansE-35Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Core Sans E", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4c4c4c;
}

img {
  max-width: 100%;
  height: auto;
}



/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1148px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
  margin-right: auto;
}



/*------------------------------------*\
  #SITE-HEADER
\*------------------------------------*/
.site-header {
  padding-top: 11px;
  background-color: #222;
  color: #fff;
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__text {
  position: relative;
  order: 1;
  width: 100%;
  margin-top: 47px;
  line-height: 1.2;
  letter-spacing: 11px;
}

.site-header__text::before {
  position: absolute;
  top: 65%;
  left: 0;
  transform: translate(-20%, -50%);
  width: 351px;
  height: 14px;
  background-image: url("../img/special-course-blur.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

/* Retina background-image for site-header__text before */
@media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    
  .site-header__text::before {
    background-image: url("../img/special-course-blur@2x.png");
  }

}

.site-header__tel {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.site-header__tel:hover {
  color: var(--accent-color);
}

.site-header__tel:active {
  opacity: 0.4;
}

/*------------------------------------*\
  #LOGO
\*------------------------------------*/
.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.4;
}

.logo__img {
  display: block;
}



/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

@media only screen and (min-width: 600px) {

  /* SITE-HEADER */

  .site-header__text {
    order: 0;
    width: auto;
    margin: 0;
  }

  .site-header__text::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }

}


@media only screen and (min-width: 750px) {

  /* CONTAINER */

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }



  /* LOGO */

  .logo__img {
    width: 160px;
  }

}


@media only screen and (min-width: 1148px) {

  /* CONTAINER */

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }



  /* SITE-HEADER */
  
  .site-header {
    padding-top: 22px;
  }

  .site-header__tel {
    font-size: 24px;
  }



  /* LOGO */

  .logo__img {
    width: 247px;
    height: 89px;
  }

}